<h2 class="page-header">Title: <%= book.title %></h2><br>
<div class="book-details">
    <div>
        <img src="<%=book.coverImagePath%>" class="book-cover"><br>
        <div class="book-details-btn-grid">
            <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
                <%- include("../partials/delete_form.ejs", 
                    {
                        url: `/books/${book.id}`
                    })%>
            <a class="btn btn-primary book-details-author-btn" 
                href="/authors/<%= book.author.id %>">
                View Author
            </a>
        </div>
    </div>
    <div class="book-details-grid">
        <div class="book-details-label">
            <div class="book-label-name">Author:</div>
            <div><%= book.author.name %></div>
        </div>

        <div class="book-details-label">
            <div class="book-label-name">Publish Date:</div>
            <div><%= book.publishDate.toDateString() %></div>
        </div>

        <div class="book-details-label">
            <div class="book-label-name">Page Count:</div>
            <div><%= book.pageCount %></div>
        </div>

        <div class="book-details-label">
            <div class="book-label-name">Description:</div>
            <div><%= book.description %></div>
        </div>
    </div>
</div>